business-data-agent.json
{"nodes":[{"parameters":{},"id":"workflow-trigger","name":"When Called By Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[0,460]},{"parameters":{"options":{"frequencyPenalty":0.1,"maxTokens":2000,"presencePenalty":0.1,"temperature":0.7,"topP":0.9}},"id":"openai-model","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[200,360]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.UserID }}_business"},"id":"memory","name":"Conversation Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[200,560]},{"parameters":{"tools":[{"name":"searchProducts","description":"Search WooCommerce products","url":"https://thetechguysdoorsandgates.com/wp-json/wc/v3/products","method":"GET","authentication":"queryAuth"},{"name":"getPincorDrawing","description":"Get technical drawings","url":"https://pincordatabase.com/api/drawings","method":"GET"},{"name":"getCustomerCalls","description":"Get call history","url":"https://api.openphone.com/v2/calls","method":"GET"},{"name":"processPayment","description":"Process payment","url":"https://api.repay.io/v1/payments","method":"POST"}],"promptType":"define","text":"={{ $json.TEXT }}","options":{"systemMessage":"You are a Business Data Assistant expert in doors and gates technology. Use available tools to:\n\n1. Find Products\n2. Access Drawings\n3. Check Customer History\n4. Process Payments\n\nRespond with complete information including specs, availability, and pricing."}},"id":"business-ai","name":"Business Data AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[400,460]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"response","value":"={{ $json.agentResponse }}"}]}},"id":"prepare-response","name":"Prepare Response","type":"n8n-nodes-base.set","typeVersion":1,"position":[600,460]}],"connections":{"When Called By Another Workflow":{"main":[[{"node":"Business Data AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Business Data AI Agent","type":"ai_languageModel","index":0}]]},"Conversation Memory":{"ai_memory":[[{"node":"Business Data AI Agent","type":"ai_memory","index":0}]]},"Business Data AI Agent":{"main":[[{"node":"Prepare Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"}}